html,
body {
  height: 100%;
}

body {
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Ubuntu", sans-serif;
}

.loginInForm h1 {
  width: 119%;

  font-weight: bold;
  font-size: 30px;

  line-height: 1.2;

  text-align: center;
  color: #403866;

  margin-bottom: 30px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields input {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 18px;

  line-height: 1.2;

  color: #403866;

  background-color: #e6e6e6;

  outline: none;

  border: none;
  border-radius: 3px;

  padding: 0 20px 0 38px;

  margin-bottom: 16px;

  height: 62px;
  width: 119%;
}

.fields input:nth-child(2) {
  margin-bottom: 25px;
}

.fields input::placeholder {
  color: #9591a1;
}

.fields input:focus + .focus-input {
  position: absolute;
  transform: translate(0px, -78px);

  width: 370px;
  height: 60px;

  opacity: 1;
}

.focus-input {
  position: absolute;

  pointer-events: none;

  transform: translate(-15px, -92px);

  width: 400px;
  height: 90px;

  border: 1px solid #827ffe;
  border-radius: 3px;

  opacity: 0;
  transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.loginInForm a {
  display: block;

  font-size: 16px;
  color: #827ffe;
  line-height: 1.4;

  width: 119%;

  text-align: end;
  text-decoration: none;

  margin-bottom: 20px;

  transition: 0.3s cubic-bezier(0.37, 0, 0.63, 1);
}

.loginInForm a:hover {
  color: #6b6ad1;
}

#login {
  cursor: pointer;

  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;

  width: 119%;
  height: 62px;
  background-color: #827ffe;

  outline: none;
  border: none;
  border-radius: 3px;

  transition: 0.6s cubic-bezier(0.61, 1, 0.88, 1);
}

#login:focus {
  transform: translate(0, 3px);
}

@media (max-width: 488px) {
  .loginInForm h1 {
    width: 100% !important;
  }

  .fields input {
    width: 100%;
  }

  .loginInForm a {
    width: 100%;
  }

  #login {
    width: 100%;
  }

  .fields input:focus + .focus-input {
    transform: translate(-315px, 0px);
    
    width: 314px;
  }

  .focus-input {
    transform: translateX(-361px) translateY(-11px);
  }
}
