<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Little todo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <section>
      <div class="tasks">
        <div class="task" id="0">
          <input type="checkbox" />
          <div>
            buy a tea
          </div>
          <div class="task__inner">
            <div class="actions">
              <img src="./img/close.png" alt="close" />
              <img src="./img/delete.png" alt="delete" />
            </div>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button id="apply">apply</button>
          </div>
        </div>
        <div class="task" id="1">
          <input type="checkbox" />
          <div>
            buy a milk
          </div>
        </div>
        <div class="task" id="2">
          <input type="checkbox" />
          <div>
            buy an apple
          </div>
        </div>
        <div class="task" id="3">
          <input type="checkbox" />
          <div>
            buy an egg
          </div>
        </div>
      </div>
      <form class="task-create">
        <input id="task-text" type="text" />
        <button id="add">Add</button>
      </form>
    </section>
    <script src="./dist/main.js"></script>
  </body>
</html>