<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Little todo</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="./styles/reset.css" />
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <form class="regForm">
      <h1>REGISTRATION</h1>
      <div class="fields">
        <div class="usernameField">
          <input class="test" type="text" placeholder="Username" />
          <span class="focus-input"></span>
        </div>
        <div class="passwordField">
          <input type="password" placeholder="Password" />
          <span class="focus-input"></span>
        </div>
      </div>
      <a href="/login">SING IN</a>
      <button id="reg">SIGN UP</button>
    </form>
  </body>
</html>